.productsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 15px;
}

@media (max-width: 900px) {
  .productsWrapper {
    grid-template-columns: repeat(2, minmax(200px, 320px));
    justify-content: center;
  }
}

@media (max-width: 570px) {
  .productsWrapper {
    grid-template-columns: minmax(200px, 300px);
  }
}
